.paytitle{
    font-size:2em;
    margin: 3%;
}
.listbox{
    width:60%;
    margin-bottom: 3%;
}
.list_title{
    margin: 2% 0 2% 0;
    font-size: 1.5em;
}
.paylist{
    display:flex;
    border-bottom: 1px solid #567890;
    text-align: center;
    padding: 1%;
    color: #fff;
    background-color: #567890;
}
.paylist2{
    display:flex;
    text-align: center;
    padding: 1%;
}
.item_name{
    width: 40%;
}
.item_option1{
    width: 20%;
}
.item_option2{
    width: 20%;
}
.item_ea{
    width: 10%;
}
.item_cost{
    width: 10%;
}


.address_input, .paywhat{
    justify-content: center;
    width:60%;
}
.address_info{
    display:flex;
    margin: 1% 0 1% 0;
}

.address_info input{
    padding: 1%;
}
.post_title{
    width: 10%;
}
.post_title_a{
    width: 14.5%;
}
.post_input1{
    width: 70%;
    display: flex;
}
.post_input2{
    width: 30%;
    margin: auto;
    display: flex;
}
.post_name{
    width: 30%;
}
.post_number{
    width: 18%;
}
.address{
    width: 70%;
}
.search{
    width: 10%;
    margin-left: 2%;
    border: none;
    border-radius: 15px;
    background-color:#567890;
    color: white;
    cursor: pointer;
}
.post_add{
    width: 30%;
    margin: 2% 0 0 10%;
    padding: 10%;
    border: none;
    border-radius: 15px;
    background-color: darkgray;
    color: white;
    cursor: pointer;
}

.pay{
    display:flex;
    justify-content:center;
    width: 50%;
}
.payment,.cancel{
    width: 20%;
    margin: 2%;
    padding: 2%;
    border: none;
    border-radius: 15px;
    background-color:#567890;
    color: white;
    cursor: pointer;
}