.certify_main{
    padding: 1%;
    text-align: center;
}
.certify_title{
    font-size: 30px;
    
}
.certify_title1{
    margin-bottom: 3%;
}
.certify_text{
    height: 30px;
    width: 100%;
    margin-bottom: 3%;
}
.certify_btn{
    font-weight: bold;
    padding: 2% 4% 2% 4%;
    border: none;
    border-radius:5px;
    margin: 1%;
    background-color:#567890;
    color: white;
    cursor: pointer;
}
.certify_name{
    font-weight: bold;
    font-size: larger;
}