.title, .item_list{
    width: 80%;
    display: flex;
}
.title{
    background-color:#567890;
    text-align: center;
    align-items: center;
    align-content: center;
    position: relative;
    border: 1px solid #567890;
    color: white;
}
.check, .item, .price, .count, .shipping, .sum{
    text-align: center;
    padding: 1% 0 1% 0;
    margin: auto;
}
.check{
    width: 5%;
}
.item{
    width: 50%;
}
.price, .count, .shipping{
    width: 10%;
}
.sum{
    width: 15%;
}
.listimg{
    width: 20%;
}
.listinfo{
    margin: auto;
}
.item_list{
    border: 1px solid #567890;
}
.item_list .item{
    display:flex;
}
.item div{
    margin-left: 5%;
}
.sumall{
    margin: 2%;
    font-size: 1.5em;
}


.orderform{
    width: 80%;
}
.rowhead{
    background-color: #567890;
    text-align: center;
    color: white;
}
.rowdata{
    text-align: center;
    border-bottom: 1px solid #567890;
}
.subdiv{
    display: flex;
    padding: 1%;
}
.check{
    width: 5%;
    margin: auto;
}
.img{
    width: 10%;
    margin: auto;
}
.pname{
    width: 30%;
    margin: auto;
}
.option1{
    width: 15%;
    margin: auto;
}
.option2{
    width: 15%;
    margin: auto;
}
.basketprice{
    width: 10%;
    margin: auto;
}
.num{
    width: 10%;
    margin: auto;
}
.sum{
    width: 10%;
    margin: auto;
}

.updown input[type="button"]{
    border: none;
    background-color: #567890;
    color: white;
    font-size: 1.5em;
    width: 20%;
}
.updown input[type="text"]{
    text-align: center;
    font-size: 1.3em;
    width: 30%;
}

.delete_button{
    display:flex;
    justify-content: end;
    margin: 1% 0 1% 0;
}
.delete_button input[type="button"]{
    margin: 1%;
    width: 10%;
    padding: 1% 0 1% 0;
    border: none;
    background-color: #567890;
    color: white;
}
.total{
    display:flex;
    justify-content: end;
}
.count_all, .price_all{
    font-size: 1.5em;
}
.basket_button{
    justify-content: center;
    display:flex;
    width: 80%;
}
.basket_button input[type="button"]{
    width: 10%;
    text-align: center;
    padding: 1%;
    margin: 2%;
    border: none;
    background-color: #567890;
    color: white;
    cursor: pointer;
}